{
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "auto",
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["**/*.yml"],
      "options": {
        "printWidth": 1e5
      }
    }
  ]
}
